/node_modules
npm-debug.log

// ignore the build template for now. this needs to be unignored before shipping though.
client/templates.js

todo.txt

// output from less compilation. TODO gideong: better way to handle this?
public/css/main.css
